:root {
    --superhero: 'Bangers', cursive;
    --fantasy: 'MedievalSharp', cursive;
    --space: 'Orbitron', sans-serif;
    --military: 'Black Ops One', cursive;
    --romantic: 'La Belle Aurore', cursive;
    --scary: 'Creepster', cursive;
    --cowboy: 'Rye', cursive;
    --regular: sans-serif;
    --fantasy: 'MedievalSharp', cursive;
    --font: var(--regular);
    --sharp: 0;
    --soft: 10px;
    --round: 100px;
    
    --image: var(--soft);
    
    --background: #ffd6ba;
    --text: #222222;
    
    --light: var(--background);
    --dark: var(--text);
}


body, html {
    margin: 0;
    padding: 10px;
    background: #ffd6ba;
    color: var(--text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 30%;
    border-radius: calc(var(--image) * 2);
    border: 4px solid var(--text);
}

a {
    color: var(--text);
}

input {
    display: block;
    margin: 20px 0 0;
    width: 160px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-width: 1px; 
    border-style: solid;
    border-color:  var(--text);
    color: var(--text);
    background: none;
    border-radius: var(--image);
    font-family: var(--font);
}

::placeholder {
    color: var(--text);
}

button {
    border-radius: var(--image);
    padding: 5px 10px;
    border: none;
    background: var(--text);
    color: var(--background);
    font-weight: bold;
    box-sizing: border-box;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    font-family: var(--font);
    width: 160px;
}
.profile-picture{
  width: 180px;       /* Set a specific width */
  height: 180px;      /* Set an equal height for a perfect circle */
  object-fit: cover;  /* Ensures the image covers the area without distortion */
  border-radius: 50%; /*Crops the image into a circle */
  border: 3px solid #fff; /* Optional: Add a border */
  box-shadow: 0 10px 8px rgba(18, 17, 17, 0.2); /* Optional: Add a subtle shadow */
  object-position: 40% 40%; /* Center the image within the circle */
}
.card{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px; /* Optional: Add some padding around the card */
    margin-bottom: 20px; /* Optional: Add some space below the card */
}
